.list-container {
  margin-top: 20px;

  border: 2px solid black;
  width: fit-content;
  height: 500px;
  overflow: auto;
  //transform: translateZ(0);
  //-webkit-transform: translateZ(0);
  //-webkit-backface-visibily: hidden
  will-change: transform;
}

.list-item {
  //border: 1px solid black;
  padding: 2px 10px;
  width: 300px;

}
